clientSoap/src/META-INF/wsdl/localhost_8080/contatoSoap/servidorSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="servidorSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/contatoSoap/servidorSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="getByEmail">
<part name="parameters" element="tns:getByEmail"/>
</message>
<message name="getByEmailResponse">
<part name="parameters" element="tns:getByEmailResponse"/>
</message>
<message name="getByCidade">
<part name="parameters" element="tns:getByCidade"/>
</message>
<message name="getByCidadeResponse">
<part name="parameters" element="tns:getByCidadeResponse"/>
</message>
<portType name="servidorSoap">
<operation name="delete">
<input wsam:Action="http://service.com/servidorSoap/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://service.com/servidorSoap/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://service.com/servidorSoap/insertRequest" message="tns:insert"/>
<output wsam:Action="http://service.com/servidorSoap/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://service.com/servidorSoap/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://service.com/servidorSoap/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://service.com/servidorSoap/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://service.com/servidorSoap/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="getByEmail">
<input wsam:Action="http://service.com/servidorSoap/getByEmailRequest" message="tns:getByEmail"/>
<output wsam:Action="http://service.com/servidorSoap/getByEmailResponse" message="tns:getByEmailResponse"/>
</operation>
<operation name="getByCidade">
<input wsam:Action="http://service.com/servidorSoap/getByCidadeRequest" message="tns:getByCidade"/>
<output wsam:Action="http://service.com/servidorSoap/getByCidadeResponse" message="tns:getByCidadeResponse"/>
</operation>
</portType>
<binding name="servidorSoapPortBinding" type="tns:servidorSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByCidade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servidorSoap">
<port name="servidorSoapPort" binding="tns:servidorSoapPortBinding">
<soap:address location="http://localhost:8080/contatoSoap/servidorSoap"/>
</port>
</service>
</definitions>